name: Main Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  run_tests:
    uses: ./.github/workflows/tests.yml

  run_release:
    needs: run_tests
    if: success() && startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/release.yml
